@model supervisor_agente.Data.Actividad

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center">Nueva Actividad</h2>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-6">
            <div class="input-group mb">
                <label class="input-group-addon control-label bg-white">Buscar</label>
                <input asp-for="asunto.id"  placeholder="Id Asunto" class="form-control" />
                <span asp-validation-for="asunto.id" class="text-danger"></span>
            </div>
            <div class="input-group mb">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Nuevo asunto</button>
                </span>
                <textarea asp-for="asunto.motivo" class="form-control" placeholder="Motivo o descripción"></textarea>
                <span asp-validation-for="asunto.motivo" class="text-danger"></span>
            </div><!-- /input-group -->
            <div class="input-group mb">
                <label class="input-group-addon control-label bg-white">Tipo</label>
                <div class="radio">
                    <label><input type="radio" asp-for="asunto.tipo" value="DUDA">DUDA</label>
                </div>
                <div class="radio">
                    <label><input type="radio" asp-for="asunto.tipo" value="CONSULTA">CONSULTA</label>
                </div>
                <div class="radio">
                    <label><input type="radio" asp-for="asunto.tipo" value="RECLAMO">RECLAMO</label>
                </div>
                
                <span asp-validation-for="asunto.tipo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correlativo" class="control-label"></label>
                <input asp-for="correlativo" class="form-control" />
                <span asp-validation-for="correlativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duracion" class="control-label"></label>
                <input asp-for="duracion" class="form-control" />
                <span asp-validation-for="duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asuntoId" class="control-label"></label>
                <select asp-for="asuntoId" class ="form-control" asp-items="ViewBag.asuntoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="usuarioAppId" class="control-label"></label>
                <select asp-for="usuarioAppId" class ="form-control" asp-items="ViewBag.usuarioAppId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Volver a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}