@{
    ViewData["Title"] = "Home Page";
}
<div class="background-callcenter">
<h1 class="text-center">Bienvenido/a</h1>
<h1 class="text-center">A &amp; B Call Center</h1>
</div>
@section Styles {
    <style>
        .background-callcenter {
            padding-top:10px;
            min-width: 700px;
            height: 500px;
            background-size: 75% 100%;
            background-position: center;;
            background-repeat: no-repeat;
            background-image: url("https://www.marketingdirecto.com/wp-content/uploads/2017/08/Callcenter-A-Coru%C3%B1a.jpg");
        }
    </style>
}